@model AppUserGetDto
<!-- Main Start -->
<main id="main"
      style="background: url(./assets/images/limak_bg.jpg) no-repeat; background-size: 100%; background-position: top center;"
      class="bg-full">
    <div class="main-container" style="max-width: 114rem;">
        <section id="user-panel">
            <div class="block">
                <div class="block-header">
                    <h2 class="block-title" style="font-size: 17px;text-transform: uppercase;">
                        İstifadəçi Paneli
                    </h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Ana səhifə</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <span>İstifadəçi Paneli</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- Aside -->           
                @await Component.InvokeAsync("UserPanel")
                <!-- Content -->
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div>
                        <div class="content">
                            <div class="row">
                                <div>
                                    <ul id="headerList" class="nav nav nav-tabs card-tabs-nav">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active" data-target="1">
                                                <span class="card-tabs-nav-title">
                                                    Hesab məlumatları
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item card-tabs">
                                            <a href="#" class="nav-link" data-target="2">
                                                <span class="card-tabs-nav-title">Şifrə</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content card-tabs-body">
                                <div class="tab-pane active active-tab" data-id="1">
                                    <div class="card order-item order-item-settings">
                                        <div class="card-body">
                                            <div class="card-step">
                                                <form action="" class="form-settings">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <input type="text" asp-for="Name" placeholder="Ad"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="col-6">
                                                            <input type="text" asp-for="Surname" placeholder="Soyad"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="col-6">
                                                            <select class="custom-select">
                                                                <option disabled="disabled" value="@Model.WarehouseId">
                                                                    -- Çatdırılma
                                                                    ofisi --
                                                                </option>
                                                                <option value="1">Bakı - İçərişəhər</option>
                                                                <option value="2">Gəncə</option>
                                                                <option value="3">Sumqayıt</option>
                                                                <option value="4">Zaqatala</option>
                                                                <option value="6">Bakı - Xalqlar Dostluğu</option>
                                                                <option value="7">Xırdalan</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6">
                                                            <input type="text" asp-for="Birtday" disabled value="@Model.Birtday" placeholder="Doğum tarixi"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="col-6">
                                                            <input type="text" asp-for="Email"  placeholder="Email"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="col-6">
                                                            <input type="text" asp-for="PhoneNumber" placeholder="Telefon Nömrəsi"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="col-6">
                                                            <button class="btn btn-submit btn-primary">
                                                                <span>Yadda saxla</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active-tab" data-id="2">
                                    <div class="card order-item order-item-safety">
                                        <div class="card-body custom-padding">
                                            <form action="" class="form-safety">
                                                <div class="row">
                                                    <div class="col-lg-6 col-12">
                                                        <div class="card-step">
                                                            <h3 class="step-title upper">CARİ ŞİFRƏ</h3>
                                                            <div role="group" class="input-group search">
                                                                <input id="currentPass" type="password"
                                                                       placeholder="Şifrə" required="required"
                                                                       aria-required="true" class="form-control">
                                                                <div class="input-group-append">
                                                                    <button type="button" class="btn btn-info"
                                                                            id="eyeBtn">
                                                                        <i class="far fa-eye-slash"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-step custom-card-step">
                                                            <h3 class="step-title upper">YENİ ŞİFRƏ</h3>
                                                            <input id="newPass" type="password" placeholder="Şifrə"
                                                                   required="required" aria-required="true"
                                                                   class="form-control" aria-autocomplete="list">
                                                            <input id="newPassRepeat" type="password"
                                                                   placeholder="Təkrar şifrə" required="required"
                                                                   aria-required="true" class="form-control">
                                                        </div>
                                                        <button type="button" disabled="disabled"
                                                                class="btn btn-submit btn-primary disabled">
                                                            <span>
                                                                Yadda saxla
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <div class="form-password-info h100">
                                                            <div class="text-center">
                                                                <img src="~/assets/images/safety.svg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Main End -->
