  <!-- Main Start -->
<main id="main"
      style="background: url(./assets/images/limak_bg.jpg) no-repeat; background-size: 100%; background-position: top center;"
      class="bg-full">
    <div class="main-container">
        <!-- Terms Start -->
        <section id="terms">
            <div class="block">
                <div class="block-header">
                    <h2 class="block-title">Qaydalar</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Ana səhifə</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <span>Qaydalar</span>
                        </li>
                    </ul>
                </div>
                <div class="block-body">
                    <div class="accordion">
                        <div class="content-box mb-20 active">
                            <div class="label">Istifadəçi qaydaları</div>
                            <div class="content">
                                <p>
                                    İstifadəçi sistemdə qeydiyyatdan keçməklə, şəxsi məlumatlarını tələb olunan
                                    qaydada qeyd etməlidir. <br> İstifadəçi qeydiyyatdan keçmək üçün daxil etdiyi
                                    məlumatların doğruluğuna görə məsuliyyət daşıyır. <br>
                                    Sonradan qeyd olunmuş məlumatlarda dəyişikliklər olarsa, bununla bağlı sistemə
                                    məlumatların yenilənməsi üçün bildiriş göndərmək istifadəçinin öhdəliyidir. <br>
                                    Qadağan olunmuş məhsullar sifariş verilərsə, xidmət həmin istifadəçi üçün
                                    bloklana bilər. <br> Sistemin tələb etdiyi qaydada ödəmə etmək istifadəçinin
                                    öhdəliyidir. <br>
                                    Öz şifrə və məlumatlarını digər şəxslərlə paylaşmamalıdır. <br> Belə hallar baş
                                    verərsə borclanmaya və sifarişin statusunun dəyişməsinə görə, şəxs özü
                                    cavabdehdir. <br>
                                    İstifadəçi ay ərzində dəyəri 300 ( üç yüz ) ABŞ dolları (Daşınma xərci daxil)
                                    məbləğinədək əşya sifariş etdikdə, istifadəçidən gömrük rüsumu tutulmur. <br>
                                    Gömrük dəyəri bir ay ərzində 300 (üç yüz) ABŞ dolları məbləğindən artıq olarsa,
                                    İstifadəçi limiti keçən miqdarın 36%-i (otuz altı faiz) miqdarında gömrük
                                    orqanlarına gömrük rüsumu ödəmək öhdəliyini öz üzərinə götürür. <br>
                                    Daşıyıcı bütün sifarişlərin daşımasını həyata keçirərkən yalnız 300 ABŞ
                                    dollarınadək sifariş olduqda gömrük sənədləşmələrini öz üzərinə götürür. <br>
                                    Dəyəri daha yüksək məbləğdə sifariş verilərsə, daşıyıcı malı Gömrük
                                    terminalınadək gətirməyi, istifadəçi isə digər sənədləşmə və malın terminaldan
                                    təhvil götürülməsini öz üzərinə götürür. <br>
                                    Qeyri-etik davranışlar sərgiləyən, əməkdaşlara qarşı açıq hörmətsizlik edən,
                                    xidmətdən yararlanarkən Azərbaycan qanunvericiliyinə zidd şəkildə davranan
                                    sifarişçinin hesabı məhdudlaşdırılır və ona bir daha xidmət göstərilmir.
                                    Sifarişçi qəbul edilmiş qaydalara uyğun davranmadığı halda onunla əməkdaşlığın
                                    dayandırılacağını qəbul edir. <br>
                                    Daşınan bağlamanın çatdırılma üçün xidmət haqqı iki meyar üzrə, çəki və həcmə
                                    görə hesablanır. İstifadəçi bu meyarlar üzrə hesablanmış daşıma haqqının daha
                                    çox olanı üzrə ödəniş aparmalıdır. <br>
                                    İstifadəçi bağlamalarını "Limak" ofisini tərk etmədən yoxlamalı, hər hansı bir
                                    zədə və ya çatışmazlıq olduğu təqdirdə şirkəti məlumatlandırmalıdır. Əks
                                    təqdirdə zədələnmiş bağlamalara görə şirkət məsuliyyət daşımır! <br>
                                    Sına biləcək əşyalar daşınma öncəsi sığortalanmır. Bu kimi məhsullar göndərici
                                    (satıcı) tərəfindən xəsarət almayacaq şəkildə qablaşdırılmalıdır. Daşınma zamanı
                                    yaranmış hər hansı bir problemə görə şirkət məsuliyyət daşımır!
                                </p>
                            </div>
                        </div>

                        <div class="content-box mb-20">
                            <div class="label">Istifadəçi qaydaları</div>
                            <div class="content">
                                <p>
                                    İstifadəçi sistemdə qeydiyyatdan keçməklə, şəxsi məlumatlarını tələb olunan
                                    qaydada qeyd etməlidir. <br> İstifadəçi qeydiyyatdan keçmək üçün daxil etdiyi
                                    məlumatların doğruluğuna görə məsuliyyət daşıyır. <br>
                                    Sonradan qeyd olunmuş məlumatlarda dəyişikliklər olarsa, bununla bağlı sistemə
                                    məlumatların yenilənməsi üçün bildiriş göndərmək istifadəçinin öhdəliyidir. <br>
                                    Qadağan olunmuş məhsullar sifariş verilərsə, xidmət həmin istifadəçi üçün
                                    bloklana bilər. <br> Sistemin tələb etdiyi qaydada ödəmə etmək istifadəçinin
                                    öhdəliyidir. <br>
                                    Öz şifrə və məlumatlarını digər şəxslərlə paylaşmamalıdır. <br> Belə hallar baş
                                    verərsə borclanmaya və sifarişin statusunun dəyişməsinə görə, şəxs özü
                                    cavabdehdir. <br>
                                    İstifadəçi ay ərzində dəyəri 300 ( üç yüz ) ABŞ dolları (Daşınma xərci daxil)
                                    məbləğinədək əşya sifariş etdikdə, istifadəçidən gömrük rüsumu tutulmur. <br>
                                    Gömrük dəyəri bir ay ərzində 300 (üç yüz) ABŞ dolları məbləğindən artıq olarsa,
                                    İstifadəçi limiti keçən miqdarın 36%-i (otuz altı faiz) miqdarında gömrük
                                    orqanlarına gömrük rüsumu ödəmək öhdəliyini öz üzərinə götürür. <br>
                                    Daşıyıcı bütün sifarişlərin daşımasını həyata keçirərkən yalnız 300 ABŞ
                                    dollarınadək sifariş olduqda gömrük sənədləşmələrini öz üzərinə götürür. <br>
                                    Dəyəri daha yüksək məbləğdə sifariş verilərsə, daşıyıcı malı Gömrük
                                    terminalınadək gətirməyi, istifadəçi isə digər sənədləşmə və malın terminaldan
                                    təhvil götürülməsini öz üzərinə götürür. <br>
                                    Qeyri-etik davranışlar sərgiləyən, əməkdaşlara qarşı açıq hörmətsizlik edən,
                                    xidmətdən yararlanarkən Azərbaycan qanunvericiliyinə zidd şəkildə davranan
                                    sifarişçinin hesabı məhdudlaşdırılır və ona bir daha xidmət göstərilmir.
                                    Sifarişçi qəbul edilmiş qaydalara uyğun davranmadığı halda onunla əməkdaşlığın
                                    dayandırılacağını qəbul edir. <br>
                                    Daşınan bağlamanın çatdırılma üçün xidmət haqqı iki meyar üzrə, çəki və həcmə
                                    görə hesablanır. İstifadəçi bu meyarlar üzrə hesablanmış daşıma haqqının daha
                                    çox olanı üzrə ödəniş aparmalıdır. <br>
                                    İstifadəçi bağlamalarını "Limak" ofisini tərk etmədən yoxlamalı, hər hansı bir
                                    zədə və ya çatışmazlıq olduğu təqdirdə şirkəti məlumatlandırmalıdır. Əks
                                    təqdirdə zədələnmiş bağlamalara görə şirkət məsuliyyət daşımır! <br>
                                    Sına biləcək əşyalar daşınma öncəsi sığortalanmır. Bu kimi məhsullar göndərici
                                    (satıcı) tərəfindən xəsarət almayacaq şəkildə qablaşdırılmalıdır. Daşınma zamanı
                                    yaranmış hər hansı bir problemə görə şirkət məsuliyyət daşımır!
                                </p>
                            </div>
                        </div>
                        <div class="content-box mb-20">
                            <div class="label">Istifadəçi qaydaları</div>
                            <div class="content">
                                <p>
                                    İstifadəçi sistemdə qeydiyyatdan keçməklə, şəxsi məlumatlarını tələb olunan
                                    qaydada qeyd etməlidir. <br> İstifadəçi qeydiyyatdan keçmək üçün daxil etdiyi
                                    məlumatların doğruluğuna görə məsuliyyət daşıyır. <br>
                                    Sonradan qeyd olunmuş məlumatlarda dəyişikliklər olarsa, bununla bağlı sistemə
                                    məlumatların yenilənməsi üçün bildiriş göndərmək istifadəçinin öhdəliyidir. <br>
                                    Qadağan olunmuş məhsullar sifariş verilərsə, xidmət həmin istifadəçi üçün
                                    bloklana bilər. <br> Sistemin tələb etdiyi qaydada ödəmə etmək istifadəçinin
                                    öhdəliyidir. <br>
                                    Öz şifrə və məlumatlarını digər şəxslərlə paylaşmamalıdır. <br> Belə hallar baş
                                    verərsə borclanmaya və sifarişin statusunun dəyişməsinə görə, şəxs özü
                                    cavabdehdir. <br>
                                    İstifadəçi ay ərzində dəyəri 300 ( üç yüz ) ABŞ dolları (Daşınma xərci daxil)
                                    məbləğinədək əşya sifariş etdikdə, istifadəçidən gömrük rüsumu tutulmur. <br>
                                    Gömrük dəyəri bir ay ərzində 300 (üç yüz) ABŞ dolları məbləğindən artıq olarsa,
                                    İstifadəçi limiti keçən miqdarın 36%-i (otuz altı faiz) miqdarında gömrük
                                    orqanlarına gömrük rüsumu ödəmək öhdəliyini öz üzərinə götürür. <br>
                                    Daşıyıcı bütün sifarişlərin daşımasını həyata keçirərkən yalnız 300 ABŞ
                                    dollarınadək sifariş olduqda gömrük sənədləşmələrini öz üzərinə götürür. <br>
                                    Dəyəri daha yüksək məbləğdə sifariş verilərsə, daşıyıcı malı Gömrük
                                    terminalınadək gətirməyi, istifadəçi isə digər sənədləşmə və malın terminaldan
                                    təhvil götürülməsini öz üzərinə götürür. <br>
                                    Qeyri-etik davranışlar sərgiləyən, əməkdaşlara qarşı açıq hörmətsizlik edən,
                                    xidmətdən yararlanarkən Azərbaycan qanunvericiliyinə zidd şəkildə davranan
                                    sifarişçinin hesabı məhdudlaşdırılır və ona bir daha xidmət göstərilmir.
                                    Sifarişçi qəbul edilmiş qaydalara uyğun davranmadığı halda onunla əməkdaşlığın
                                    dayandırılacağını qəbul edir. <br>
                                    Daşınan bağlamanın çatdırılma üçün xidmət haqqı iki meyar üzrə, çəki və həcmə
                                    görə hesablanır. İstifadəçi bu meyarlar üzrə hesablanmış daşıma haqqının daha
                                    çox olanı üzrə ödəniş aparmalıdır. <br>
                                    İstifadəçi bağlamalarını "Limak" ofisini tərk etmədən yoxlamalı, hər hansı bir
                                    zədə və ya çatışmazlıq olduğu təqdirdə şirkəti məlumatlandırmalıdır. Əks
                                    təqdirdə zədələnmiş bağlamalara görə şirkət məsuliyyət daşımır! <br>
                                    Sına biləcək əşyalar daşınma öncəsi sığortalanmır. Bu kimi məhsullar göndərici
                                    (satıcı) tərəfindən xəsarət almayacaq şəkildə qablaşdırılmalıdır. Daşınma zamanı
                                    yaranmış hər hansı bir problemə görə şirkət məsuliyyət daşımır!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Terms End -->
    </div>
</main>
<!-- Main End -->