 <!-- Main Start -->
<main id="main"
      style="background: url(./assets/images/limak_bg.jpg) no-repeat; background-size: 100%; background-position: top center;"
      class="bg-full">
    <div class="main-container">
        <!-- Terms Start -->
        <section id="terms">
            <div class="block">
                <div class="block-header">
                    <h2 class="block-title">Suallar</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Ana səhifə</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <span>Suallar</span>
                        </li>
                    </ul>
                </div>
                <div class="block-body">
                    <div class="accordion">
                        <div class="content-box mb-20 active">
                            <div class="label">
                                Çatdırılma və malların təhvil verilməsi necə həyata keçirilir ?
                            </div>
                            <div class="content">
                                <p>
                                    Türkiyədən həftədə 6 dəfə, Amerikadan isə həftədə 1 dəfə daşınma həyata
                                    keçirilir. Bağlamalar ofislərimizə daxil olandan 3 saat sonra təhvil verilməyə
                                    başlanılır.
                                </p>
                            </div>
                        </div>
                        <div class="content-box mb-20">
                            <div class="label">

                                Nə qədər məbləğdə sifariş edə bilərəm?

                            </div>
                            <div class="content">
                                <p>
                                    Azərbaycan Respublikası qanunvericiliyinə görə, fiziki şəxslər 30 təqvim günü
                                    ərzində kommersiya məqsədi olmadan 300 ABŞ dolları məbləğində rüsumsuz limitdən
                                    istifadə edə bilərlər.
                                </p>
                            </div>
                        </div>
                        <div class="content-box mb-20">
                            <div class="label">

                                Azərbaycan kartlarını qəbul etməyən saytlardan necə sifariş edə bilərəm ?

                            </div>
                            <div class="content">
                                <p>
                                    Əgər Sizin kartınız alış-veriş etmək istədiyiniz saytda qəbul olunmursa, o zaman
                                    biz sizə "Sifariş et" xidmətini təklif edirik. Əvvəlcə bizim saytda qeydiyyatdan
                                    keçirsiniz. Qeydiyyatdan dərhal sonra yaranmış "Profilim" bölməsinə daxil
                                    olursunuz və "Sifariş et" bölməsindən bəyəndiyiniz məhsulun linkini seçib əlavə
                                    edirsiniz. Sistem Sizə məhsulun qiymətini, ölçüsünü, sifariş etdiyiniz
                                    ölkədaxili karqo qiymətini və bizim Sizin üçün etdiyimiz sifarişdəki +5 faizlik
                                    xərcləri əlavə etməklə yekun məbləği təqdim edəcək. ( Bu məlumatlardan hər hansı
                                    biri olmadıqda, onu özünüz əlavə edirsiniz) Linkləri saytımıza göndərdikdən
                                    sonra bizim hesabımıza yekun məbləği ödəyirsiniz və biz həmin məhsulu sizin üçün
                                    alırıq. Belə olan halda Bəyannamə də bizim əməkdaşlar tərəfindən əlavə edilir.
                                </p>
                            </div>
                        </div>
                        <div class="content-box mb-20">
                            <div class="label">

                                Sifarişim neçə günə çatdırılır ?

                            </div>
                            <div class="content">
                                <p>
                                    Çatdırılma müddəti sifariş verdiyiniz saytdan asılıdır. Satıcı firmalarda
                                    çatdırılma müddəti 3-7 gün olur. Həftə sonları və rəsmi bayram günləri
                                    çatdırılma müddətini uzada bilər. Satıcı firma sizin sifarişinizi bizim
                                    xaricdəki anbarımıza çatdırdıqdan sonra ən gec 4 gün sonra bağlamanız Bakıda
                                    olur.
                                </p>
                            </div>
                        </div>
                        <div class="content-box mb-20">
                            <div class="label">

                                Sifarişim neçə günə çatdırılır ?

                            </div>
                            <div class="content">
                                <p>
                                    Çatdırılma müddəti sifariş verdiyiniz saytdan asılıdır. Satıcı firmalarda
                                    çatdırılma müddəti 3-7 gün olur. Həftə sonları və rəsmi bayram günləri
                                    çatdırılma müddətini uzada bilər. Satıcı firma sizin sifarişinizi bizim
                                    xaricdəki anbarımıza çatdırdıqdan sonra ən gec 4 gün sonra bağlamanız Bakıda
                                    olur.
                                </p>
                            </div>
                        </div>
                        <div class="content-box mb-20">
                            <div class="label">

                                Sifarişim neçə günə çatdırılır ?

                            </div>
                            <div class="content">
                                <p>
                                    Çatdırılma müddəti sifariş verdiyiniz saytdan asılıdır. Satıcı firmalarda
                                    çatdırılma müddəti 3-7 gün olur. Həftə sonları və rəsmi bayram günləri
                                    çatdırılma müddətini uzada bilər. Satıcı firma sizin sifarişinizi bizim
                                    xaricdəki anbarımıza çatdırdıqdan sonra ən gec 4 gün sonra bağlamanız Bakıda
                                    olur.
                                </p>
                            </div>
                        </div>
                        <div class="content-box mb-20">
                            <div class="label">

                                Sifarişim neçə günə çatdırılır ?

                            </div>
                            <div class="content">
                                <p>
                                    Çatdırılma müddəti sifariş verdiyiniz saytdan asılıdır. Satıcı firmalarda
                                    çatdırılma müddəti 3-7 gün olur. Həftə sonları və rəsmi bayram günləri
                                    çatdırılma müddətini uzada bilər. Satıcı firma sizin sifarişinizi bizim
                                    xaricdəki anbarımıza çatdırdıqdan sonra ən gec 4 gün sonra bağlamanız Bakıda
                                    olur.
                                </p>
                            </div>
                        </div>
                        <div class="content-box mb-20">
                            <div class="label">

                                Sifarişim neçə günə çatdırılır ?

                            </div>
                            <div class="content">
                                <p>
                                    Çatdırılma müddəti sifariş verdiyiniz saytdan asılıdır. Satıcı firmalarda
                                    çatdırılma müddəti 3-7 gün olur. Həftə sonları və rəsmi bayram günləri
                                    çatdırılma müddətini uzada bilər. Satıcı firma sizin sifarişinizi bizim
                                    xaricdəki anbarımıza çatdırdıqdan sonra ən gec 4 gün sonra bağlamanız Bakıda
                                    olur.
                                </p>
                            </div>
                        </div>
                        <div class="content-box mb-20">
                            <div class="label">

                                Sifarişim neçə günə çatdırılır ?

                            </div>
                            <div class="content">
                                <p>
                                    Çatdırılma müddəti sifariş verdiyiniz saytdan asılıdır. Satıcı firmalarda
                                    çatdırılma müddəti 3-7 gün olur. Həftə sonları və rəsmi bayram günləri
                                    çatdırılma müddətini uzada bilər. Satıcı firma sizin sifarişinizi bizim
                                    xaricdəki anbarımıza çatdırdıqdan sonra ən gec 4 gün sonra bağlamanız Bakıda
                                    olur.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Terms End -->
    </div>
</main>
<!-- Main End -->