<!-- Main Start -->
<main id="main"
      style="background: url(./assets/images/limak_bg.jpg) no-repeat; background-size: 100%; background-position: top center;"
      class="bg-full">
    <div class="main-container">
        <!-- Privacy Start -->
        <section class="privacy">
            <div class="block">
                <div class="block-header">
                    <h2 class="block-title">Gizlilik şərtləri</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Ana səhifə</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <span>Gizlilik şərtləri</span>
                        </li>
                    </ul>
                </div>
                <div class="block-body">
                    <div class="card card-privacy">
                        <div class="card-body">
                            <div class="card-text">
                                <h5>"Limak AZ" MMC məsuliyyət daşıyır!</h5>
                                <br>
                                <p>
                                    "Limak AZ" MMC istifadəçilərin şirkətə təqdim etdikləri şəxsi məlumatların
                                    qorunmasına zəmanət verir.
                                </p>
                                <p>&nbsp;</p>
                                <p>
                                    Şirkət şəxsi məlumatların qorunması üçün təhlükəsizliyin təmin edilməsinə,
                                    bununla bağlı bütün texniki tədbirlərin görülməsinə görə öhdəlik daşıyır.
                                </p>
                                <p>&nbsp;</p>
                                <p>
                                    Şirkət istifadəçinin şəxsi məlumatlarını onun icazəsi olmadan üçüncü tərəfə
                                    təqdim etməyəcəyinə dair öhdəlik götürür.
                                </p>
                                <p>&nbsp;</p>
                                <p>
                                    Bu məlumatlardan "Limak AZ" MMC-nin eyni istifadəçiyə yönəldiyi
                                    təbliğat-təşviqat, reklam xarakterli məlumatlarda istifadə oluna bilər.
                                </p>
                                <p>&nbsp;</p>
                                <p>
                                    Eyni zamanda şəxsi məlumatlar istifadəçi ilə yaranmış hüquqi problemin həllində
                                    məhkəmə qərarı ilə açıqlana bilər.
                                </p>
                                <p>&nbsp;</p>
                                <p>
                                    <strong>
                                        "Limak AZ" MMC istifadəçinin məxfi kart məlumatlarına malik deyil, onlari
                                        özündə saxlamır
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Privacy End -->
    </div>
</main>
<!-- Main End -->