@model AppUserGetDto
<div class="col-md-4 col-lg-3 col-12">
    <aside class="aside">
        <div class="card">
            <div class="card-body">
                <div class="list-group user-nav ">
                    <div class="list-group-item mt-0">
                        <i class="far fa-user"></i>
                        <h3 class="user-nav-title upper">
                            @Model.Name @Model.Surname
                        </h3>
                    </div>
                    <div class="list-group-item">
                        <i class="far fa-user-circle"></i>
                        <h3 class="user-nav-title">
                            <span>Müştəri̇ kodu</span>
                            <strong>@Model.UserName</strong>
                        </h3>
                    </div>
                    <div class="list-group-item user-nav-notf">
                        <a asp-controller="notification" asp-action="Index">
                            <i class="fas fa-bell"></i>
                            <h3 class="user-nav-title">
                                Bildirişlər
                            </h3>
                        </a>
                    </div>
                    <div class="list-group-item">
                        <i class="fas fa-info-circle"></i>
                        <div class="user-nav-group">
                            <h4 class="user-nav-group-title">
                                Cari ay
                            </h4>
                            <div class="user-nav-group-label">
                                0.00
                                <span class="manat">$</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <div class="progress">
                        <div class="progress-bar custom-progress-small">
                            <span>0%</span>
                        </div>
                    </div>
                </div>
                <div class="list-group aside-nav-top">
                    <div class="list-group-item aside-nav mt-0">
                        <a asp-controller="UserPanel">
                            <i class="fas fa-shopping-bag"></i>
                            <h3 class="aside-nav-title">Sifarişlər</h3>
                        </a>
                    </div>
                    <div class="list-group-item aside-nav">
                        <a asp-controller="Report">
                            <i class="far fa-file-alt"></i>
                            <h3 class="aside-nav-title">Bəyan Gözləyən</h3>
                        </a>
                    </div>
                    <div class="list-group-item aside-nav">
                        <a asp-controller="Package">
                            <i class="fas fa-box-open"></i>
                            <h3 class="aside-nav-title">Bağlamalar</h3>
                        </a>
                    </div>
                    <div class="list-group-item aside-nav">
                        <a asp-controller="Adress">
                            <i class="fas fa-thumbtack"></i>
                            <h3 class="aside-nav-title">Xaricdəki ünvanlar</h3>
                        </a>
                    </div>
                    <div class="list-group-item aside-nav">
                        <a asp-controller="Courier">
                            <i class="fas fa-user-tag"></i>
                            <h3 class="aside-nav-title">Kuryer</h3>
                        </a>
                    </div>
                </div>
                <div class="list-group aside-account">
                    <div class="list-group-item mt-0 aside-nav">
                        <a asp-controller="Balance">
                            <i class="fas fa-dollar-sign"></i>
                            <h3 class="aside-account-title">
                                Balansınız
                            </h3>
                        </a>
                    </div>
                    <div class="list-group-item aside-nav">
                        <a asp-controller="UpSetting">
                            <i class="fas fa-user-cog"></i>
                            <h3 class="aside-account-title">
                                Tənzimləmələr
                            </h3>
                        </a>
                    </div>
                    <div class="list-group-item aside-nav">
                        <a asp-action="Logout" asp-controller="Login">
                            <i class="fas fa-power-off"></i>
                            <h3 class="aside-account-title">
                                Hesabdan çıx
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-custom">
            <div class="form-exc">
                <div class="form-exc-body">
                    <div>
                        <div class="form-exc-header">
                            <div class="form-calc-title">
                                <img src="~/assets/images/calculator.svg" alt="">
                                <h3>Məzənnə kalkulyatoru</h3>
                            </div>
                        </div>
                        <form action="">
                            <div class="input-group input-group-btn-append mb-sm-1">
                                <input type="text" class="form-control" placeholder="0.0" min="0">
                                <div class="input-group-append">
                                    <div class="dropdown b-dropdown btn-group">
                                        <button type="button" class="btn dropdown-toggle">
                                            USD
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" class="dropdown-item">AZN</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown-item active">USD</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown-item">TRY</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group input-group-btn-append mb-sm-1 mt-0">
                                <input type="text" class="form-control" placeholder="0.0" min="0">
                                <div class="input-group-append">
                                    <div class="dropdown b-dropdown btn-group">
                                        <button type="button" class="btn dropdown-toggle">
                                            AZN
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" class="dropdown-item active">AZN</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown-item ">USD</a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown-item">TRY</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p class="form-exc-note">
                                Günün məzənnəsinə uyğun hesablanır.
                            </p>
                        </form>

                        <div class="form-exc-table">
                            <div class="form-calc-title">
                                <img src="~/assets/images/change.svg" alt="">
                                <h3>Günlük məzənnə</h3>
                            </div>
                            <ul>
                                <li>
                                    <div class="currency-container">
                                        <div class="left-side">
                                            <img src="~/assets/images/tr-circle.svg" alt="">
                                            <span>1</span>
                                        </div>
                                        <div class="right-side">
                                            <strong>TRY</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="currency-container">
                                        <div class="left-side">
                                            <img src="~/assets/images/az-circle.svg" alt="">
                                            <span> 0.1686</span>
                                        </div>
                                        <div class="right-side">
                                            <strong>AZN</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="currency-container">
                                        <div class="left-side">
                                            <img src="~/assets/images/usa-circle.svg" alt="">
                                            <span> 0.0992</span>
                                        </div>
                                        <div class="right-side">
                                            <strong>USD</strong>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>